// .login-page{
//  width: 60%;
//     font-size: x-large;
//     border: 2px solid black;
//     margin:auto;
//     padding: 20px;
// }
//  h2{
//     margin: auto;
//     padding: 20px;
//  }




 .login-page{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); // dark transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
 
}

form{
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

button {
  width: 40%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.error-msg {
  color: red;
  margin-top: 10px;
}

.extra-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;}
 a {
    color:black;
    text-decoration: none;
    font-size: 18px;
  }

