<div class="overlay">
    <div class="forget-password-container">
        <h2>Forgot Password</h2>

        <form [formGroup]="emailform" (ngSubmit)="onSendOtp()">
            <label>Email Address</label>
            <input type="email" formControlName="email" placeholder="Enter your email" />
            

            <div *ngIf="submitted && emailform.get('email')?.invalid" class="error">
                <span *ngIf="emailform.get('email')?.errors?.['required']">Email is required</span>
                <span *ngIf="emailform.get('email')?.errors?.['email']">Invalid email format</span>
            </div>

            <button type="submit" *ngIf="!enterOTP">Send OTP</button>
             
        </form>
       <div *ngIf="enterOTP">
            <input type="text" placeholder="O.T.P" [(ngModel)]="OTP" name="OTP">
             <button type="button" (click)="check()" >Verify OTP Code</button>
        </div>
    </div>
</div>